.container {
   display: flex; /* manipular el contenido del contenedor */
   justify-content: center;
    align-items: center;
}

.calculadora {
 /*Permite establecer que el contenido se va distribuir 
    visualmente en una cuadricula*/
    display: grid; 
    grid-template-columns: 75px 75px 75px  75px;
    grid-template-rows:75px 75px 75px 75px 75px  75px;/*Determina el tamaño de la fila*/
    padding: 15px;
   /* border: solid blue;*/
    border-radius: 35px;
    background: rgb(176, 190, 199);
    box-shadow: 15px 10px 5px 5px rgb(44, 10, 10);/*Sombra*/
}

.display{
    grid-column: span 4;/*Ocupa 4 columnas*/
    padding: 20px;
    margin-bottom: 10px;

    border: solid black;
    background: rgb(101, 133, 114);
    border-radius: 5px;
    text-align: right;
}

.colum-2{
    
    grid-column: span 2;
}

button{
    cursor: pointer;
    margin: 5px;
    padding: 5px;/*Espaciado interno*/
    border-radius: 32px;
   border: none;
    background: rgb(101, 114, 133);
    /*background: rgb(176, 190, 199);*/
    font-size: 25PX;
    color: blanchedalmond;
    box-shadow: 4px 5px 2px 2px rgb(14, 3, 3);/*Sombra*/
    font-family: Georgia, 'Times New Roman', Times, serif;/*Tipo de letra*/
}

button:hover{
    background: rgb(91, 111, 139);
}

button:active{
    background:  rgb(57, 89, 138); 
}
